@import "tailwindcss";

html,
body {
  background-color: #09090b;
}

/* customizando as bolinhas do swiper  */
.featured-swiper .swiper-pagination-bullet {
  background: theme("colors.zinc.700"); /* bolinha inativa */
  opacity: 1;
  width: 10px;
  height: 10px;
  transition: all 0.3s ease;
  margin: 0 6px !important;
}

.featured-swiper .swiper-pagination-bullet-active {
  background: theme("colors.red.600"); /* bolinha ativa */
  width: 25px; /* efeito de "pílula" na bolinha ativa */
  border-radius: 5px;
}

/* garante que o container das bolinhas tenha espaço */
.featured-swiper .swiper-pagination {
  bottom: 25px !important;
}
.featured-swiper .swiper-pagination {
  bottom: 25px !important;
  z-index: 50 !important; /* Garante que fiquem na frente de tudo */
}

/* ajuste para o efeito fade não sobrepor === */
.featured-swiper .swiper-slide {
  background-color: #09090b; /* bg-zinc-950 */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* garante que o slide que está saindo suma completamente */
.featured-swiper .swiper-slide-active {
  z-index: 10;
}

.featured-swiper .swiper-slide-next,
.featured-swiper .swiper-slide-prev {
  opacity: 0 !important;
}

.swiper-pagination-bullet {
  background: #3f3f46 !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  background: #dc2626 !important;
  width: 24px !important;
  border-radius: 4px !important;
  transition: all 0.3s !important;
}

@media (min-width: 768px) {
  .image-mask {
    -webkit-mask-image: linear-gradient(
      to right,
      transparent 0%,
      rgba(0, 0, 0, 0.02) 10%,
      rgba(0, 0, 0, 0.1) 30%,
      rgba(0, 0, 0, 0.4) 55%,
      rgba(0, 0, 0, 0.8) 80%,
      black 100%
    );
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      rgba(0, 0, 0, 0.02) 10%,
      rgba(0, 0, 0, 0.1) 30%,
      rgba(0, 0, 0, 0.4) 55%,
      rgba(0, 0, 0, 0.8) 80%,
      black 100%
    );
  }
}

@media (max-width: 767px) {
  .text-slide {
    color: white;
    font-size: 0.5em;
  }
}
